body{
 background-color: lightcoral;
}
p{
 font-size: larger;
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding-top: 150px;
}
a:link{
 text-decoration: black;
 text-transform: capitalize;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: small;
}